.about{
    padding-bottom: 101px;
    &__item_block{
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 377px;
        background: #ffffff;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
    }
    &__desc_title{
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 26px;
        color: #544837;
    }
    &__desc_text{
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        color: #544837;
    }
    &__desc_link{
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        color: #1943EF;
    }
    &__desc_block{
        padding-left: 35px;
    }
    &__desc_img{
        position: relative;
        left: 75px;
        top: 20px;
    }

    &__block{
        display: flex;
        justify-content: space-between;
    }
    &__title{
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 34px;
        line-height: 46px;
        color: #2F281E;
        padding-top: 96px;
        padding-bottom: 14px;
    }
    &__text{
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #544837;
        max-width: 1197px;
        padding-bottom: 45px;
    }
}